%h1 検索結果
%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-sm-4 Title
      %th.col-sm-2 Book
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= recipe.title
        %td= recipe.book
